body
{
    font-family: Arial, Helvetica, sans-serif;
}


/* Navbar css */
.navbar
{
    overflow: overlay;
    width: 100vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    -webkit-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
     box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);

}
.navbar__left
{
    float: left;
    width: 3%;
}

.navbar__left__brand
{
    font-size: 20px;
    margin-left: 100%;
    margin-top: 10px;
 
    color: #5f6368;
    display: flex;
}    
.navbar__left__brand__text
{
    margin-top: 2px;
    margin-left:5px; 
}
.navbar__right
{
    float: right;
    display: flex;
    margin-right: 5%;
}
.navbar__right__ele>form
{
    margin-top: 0.3em;
}
.navbar__right__ele
{
  
   margin-right: 20px;
   margin-top: 10px;


   -webkit-transition: border 0.2s; /* For Safari 3.1 to 6.0 */
   transition: border 0.2s;
}

.navbar__right__ele:hover
{
    
    border:3px solid #9b59b6;  
}

.navbar__right__ele>a
{
    text-decoration: none;
    color:black;
}
.navbar__right__ele>form>button
{
    background-color:white;
    border:none;
    font-size:16px;  
}
.navbar__right__ele>form>button:focus
{
    outline: 0;
}



.add-field__button
{
    background-color:white;
    border:none; 
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}
.field
{
    width:100%;
}

.add-field__button
{
    display: flex;
}
.add-field
{
    margin-bottom:10px;
}
.add_text
{
    margin-left: 5px;
    margin-top: 10px;
}

.deletefieldbutton
{
    background-color: white;
    border: none;
    margin-bottom: 20px;
    margin-right: 10px;
}
.required
{
    margin-right: 10px;
}
.form-choose
{
    display: flex;
    padding-left: 30%;
    border-bottom:1px solid #ccc; 
    height: 52px;

}
.form-choose > form
{
    margin-right: 10px;
}
.form-choose > form> button
{
    border:none;
    color:rgba(0,0,0,0.5);
    background-color: white;
    font-size: 20px;
    height: 52px;
    padding-top: 10px;
}
.form-choose > form:first-child> button
{
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
}
.notification__button
{
    background-color: #9b59b6;
    color:white;
    border-radius:5px;
    padding: 5px;
    margin-left: 50px;
    margin-top: 30px; 
    border-bottom: 1px solid #9b59b6;
}


.sidebar-generatedLink
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sidebar-generatedLink__url
{
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px; 
    padding: 5px;
}
.opacitySet
{
    opacity: 0.5;;
}
.settings-form
{
    margin-left: 30%;
    margin-top: 200px;
    position: absolute;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    z-index: 4000;
    padding: 20px;
    opacity: 1;
}
.settings__header
{
    margin-bottom: 5px;
    font-size: 18px;

}
.settings-form-res
{
    margin-top: 5px;
}
.settings-open-button
{
    margin-top: 10px;
}
.sidebar-generatedLink__text
{
    margin-right: 10px;
    padding-top: 4px;
  
}
.settings
{
    margin-top: 200px;
    margin-right: 100;
    margin-left: 100px;
}
.row>input
{
    flex:100;
    margin-right: 30px;
}
.row>button
{
    flex:1;
}
.form__delete-field
{
    margin-right: 15px;
}

.form__delete-field>form>button
{
    background-color: white;
}

.form
{   
    min-width: 500px;
    display: flex;
    flex-direction: column;
    width:40%;
    margin-top: 200px; 
    -webkit-box-shadow: -1px 3px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 21px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 21px 0px rgba(0,0,0,0.75);
}

.radio_button
{
    background-color: #9b59b6;
    color:white;
    height:40px;
    font-size: 16px;
    margin-left: 20px;
    width:100px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
.delete_column
{
    flex:1;
    margin-top: 210px;
    margin-left: 10px;
    
}
.delete_column>form
{   
    width:10px;
    height:10px;
    margin-bottom: 102px;
}


.main
{
    display: flex;
    flex-direction: column;
}
/* input
{
    width:40%;
   border: none;
    border-bottom:1px solid black; 

} */
/* .main > input
{

} */

input:focus
{
    outline: 0;
    border-bottom:2px solid #9b59b6; 
}

.form__title
{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    border:none; 
    border-bottom:1px solid #eee;  
 
}

.form__description
{
       border: none;
       border-bottom:1px solid #eee;  
       font-size: 16px;
       margin-left: 20px;
       margin-bottom: 40px;
}

.form__text__question
{
    border: none;
    border-bottom:1px solid #eee;  
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.form__text__question::placeholder
{
    color:#ccc;
}

.form__text__answer
{
    width:40%;
    height:20px;
    font-size:18px; 
    border-bottom: 1px dashed #eee ;
    margin-left: 20px;
    margin-bottom: 40px;
    color:#ccc;
}

.form__button
{
    background-color: #9b59b6;
    color:white;
    height:40px;
    font-size: 16px;
    margin-left: 20px;
    width:200px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.form__button2
{
    background-color: #2980b9;
    color:white;
    height:40px;
    font-size: 16px;
    margin-left: 40px;
    width:100px;
    border-radius: 5px;
    align-self: flex-start;
    border: none;
}

.row2div
{
    padding-top: 10px;
}

@media only screen and (min-width:1300px){
    .disp_row{
        display: flex;
        flex-direction: row;
        margin-left: 20%;

    }
    .notifications
    {  
        min-width: 280px;
        margin-top: 200px;
        margin-right: 100px;
        -webkit-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
       box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
       align-self: flex-start;
       padding: 30px; 

    }
    .row2
  {
    display: flex;
    justify-content: space-between;
    width:100%;
  } 
  .row
  {
    display: flex;
    flex-direction: row;
  }
  .form-sticky
{
    margin-top: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .notifications__header
  {
      font-size: 20px;
      margin-bottom: 10px;
  }
  .notifications__text
  {
      margin-bottom: 5px;
  }

@media only screen and (max-width:1300px){
    .disp_row{
        display: flex;
        flex-direction: column;
    }
    .form-sticky
    {
        order:2;
    }
    .form
    {
        order:1;
    }
    .notifications
    {
        order: 3;
    }
    .row2
    {
        display: flex;
        justify-content: space-between;
        width:90%;
    }
  
    .row
   {
    display: flex;
    flex-direction: row;
    width:90%;
   }
   .form-sticky
  {  
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
   }
   .notifications
   {  
       min-width: 280px;
       margin-top: 100px;

       -webkit-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
      box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
      align-self: flex-start;
      padding: 30px; 

   }
}

